.sidebar-container {

    justify-content: center;
    width: 30%;
    height: 200vh;
    background-color: lightgreen;
}

@media (max-width: 600px) {
    .sidebar-container {
        display:none;
    }
}